{% load static %}
{% load multiply %}
<div class="second-container margin-class">
    {% if cart.order_items.all %}
    <table>
        <tbody>
            <tr>
                <th>Products</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>
            {% for cart_item in cart.order_items.all %}
            <tr>
                <td>
                    <div class="table-row">

                        <img src="{{cart_item.product.image.url}}" alt="">
                        
                        <div class="product-detail">
                            <p>{{cart_item.product.title}}</p>
                            <small>Price: ${{cart_item.product.price}}</small>
                            <br>
                            <a href="{% url 'remove_item' cart_item.id %}">Remove</a>
                        </div>
                    </div>

                </td>
                <td>
                    <input class="Quantity" type="number" disabled value="{{cart_item.quantity}}">
                </td>
                <td>
                    ${% multiply cart_item.product.price cart_item.quantity %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="price-area">
        <table>
            <tbody>
                <tr>
                    <td>Subtotal</td>
                    <td>${{amount}}</td>
                </tr>
                <tr>
                    <td>Tax</td>
                    <td>$35.00</td>
                </tr>
                <tr>
                    <td>Total</td>
                    <td>${{total}}</td>
                </tr>

                <tr>
                    <td colspan="2">
                        <form method="POST" enctype="multipart/form-data" action="{% url 'checkout' %}">
                            {% csrf_token %}
                            <input type="hidden" name="total" value="{{total}}">
                            <button class="checkout-btn" type="submit">Checkout</button>
                        </form>  
                    </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="empty">
        <div><h2>Cart is Empty !!</h2></div>
        <div><a href="{% url 'products_category' %}"><button class="click_button">click to shope now</button></a></div>
    </div>
    {% endif %}
</div>