{% load static %}
<div class="catogories">
    <div class="second-container">
        <div class="row">
            <div class="col-3">
                <img src="{% static 'images/category-1.jpg' %}" alt="">
            </div>
            <div class="col-3">
                <img src="{% static 'images/category-2.jpg' %}" alt="">
            </div>
            <div class="col-3">
                <img src="{% static 'images/category-3.jpg' %}" alt="">
            </div>
        </div>
    </div>
</div>

<!-- products -->
<div class="second-container">  
    <h2 class="title-h2">Featured Products</h2>
    <div class="row">
        {% for product in featured_products %}
        <div class="col-4">
            
            <a href="{% url 'detail_of_product' product.id %}"><img src="{{product.image.url}}"></a>
            <h4>{{product.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>{{product.price}}</h4>
        </div>
        {% endfor %}
    </div>
    <h2 class="title-h2">Latest Products</h2>
    <div class="row">
        {% for product in latest_products %}
        <div class="col-4">
            <a href="{% url 'detail_of_product' product.id %}"><img src="{{product.image.url}}"></a>
            <h4>{{product.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>{{product.price}}</h4>
        </div>
        {% endfor %}
    </div>

    <div style="align-items: flex-end;">
        <button class="page-load" onClick="window.scrollTo(0,0)"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
</div>