{% load static %}
{% load chunks %}
<div class="second-container">  
    <div class="top-area row-2">
        <div>
            <h2>All Products</h2>
        </div>
        <div>
            <select class="sorting" name="" id="">
                <option value="">Default sort</option>
                <option value="">sort by price</option>
                <option value="">sort by popularity</option>
                <option value="">sort by rating</option>
                <option value="">sort by sale</option>
            </select>
        </div>
    </div>

    {% for item in products|chunks:4 %}
    <div class="row">
        {% for pro_item in item %}
        <div class="col-4">
            <a href="{% url 'detail_of_product' pro_item.id %}"><img src="{{pro_item.image.url}}"></a>
            <h4>{{pro_item.title}}</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>{{pro_item.price}}</h4>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="next-page">
        {% if products.has_previous %}
        <a href="?page={{products.previous_page_number}}"><span><<</span></a>
        {% endif %}
        {% for i in products.paginator.page_range %}
        <a href="?page={{i}}"><span>{{i}}</span></a>
        {% endfor %}

        {% if products.has_next %}
        <a href="?page={{products.next_page_number}}"><span>>></span></a>
        {% endif %}
    </div>
    
</div>