{% load static %}
<div class="second-container">  
    <div class="top-area row-2">
        <div>
            <h2>All Products</h2>
        </div>
        <div>
            <select class="sorting" name="" id="">
                <option value="">Default sort</option>
                <option value="">sort by price</option>
                <option value="">sort by popularity</option>
                <option value="">sort by rating</option>
                <option value="">sort by sale</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a href="{% url 'detail_of_product' %}"><img src="{% static 'images/product-1.jpg' %}"></a>
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-2.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-3.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-4.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/product-5.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-6.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'image/product-7.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-8.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <img src="{% static 'images/product-9.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-10.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-11.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
        <div class="col-4">
            <img src="{% static 'images/product-12.jpg' %}" alt="">
            <h4>Red Printed T-Shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <h4>$50.00</h4>
        </div>
    </div>

    <div class="next-page">
        <span class="page-number">1</span>
        <span class="page-number">2</span>
        <span class="page-number">3</span>
        <span class="page-number">4</span>
        <span class="page-number">-</span>
    </div>
</div>